# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List of commonly used libraries in data science
* Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow

| Data Science Tools |
|-|
| Jupyter Notebook |
| Apache Hadoop |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [52]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [54]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Ihor